<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="backend" connectionString="Server=tcp:SQL2;Database=custom_playground;User ID=custom_playground_de;Password=q3(a4CpD\KOi" />
	</connectionStrings>

	<custom.web>
		<contentManagement xdt:Transform="SetAttributes" websiteGuid="e9e30626-05ed-461a-a85d-d88f9e80b139" />
		<globalization>
			<translation xdt:Transform="SetAttributes" applicationName="Playground,DE" />
			<format xdt:Transform="SetAttributes" applicationName="Playground,DE" />
		</globalization>
	</custom.web>

	<custom.diagnostics>
		<logger xdt:Transform="SetAttributes" name="Playground_DE" />
	</custom.diagnostics>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

	<system.net>
		<mailSettings>
			<smtp xdt:Transform="SetAttributes" from="playground_de@custom.de" />
		</mailSettings>
	</system.net>

	<system.webServer>
		<validation xdt:Transform="Remove" />
	</system.webServer>

	<system.web>
		<membership>
			<providers>
				<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="CustomMembershipProvider" applicationName="Playground" />
			</providers>
		</membership>

		<roleManager>
			<providers>
				<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="CustomRoleProvider" applicationName="Playground" />
			</providers>
		</roleManager>
	</system.web>

</configuration>